@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="wrapper">
    <div class="row">
        <div class="panel-body">
            <div class="col-md-12 w3ls-graph">
                <h3 style="text-align: center; color: green"> Wellcome To Admin Login </h3>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 415px"></div>
</section>