
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSellForce.cshtml";
}
<section class="wrapper">
    <div class="row">
        <div class="panel-body">
            <div class="col-md-12 w3ls-graph">

                <h3 style="text-align: center; color: green"> Wellcome To Sell Force Login </h3>
            </div>
        </div>
    </div>

</section>
