
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper">
    <div class="row">
        <div class="panel-body">
            <div class="col-md-12 w3ls-graph">

                <h3 style="text-align: center; color: green"> Please Select Your Login Option </h3>
            </div>
        </div>
    </div>

</section>

